html {
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
}

header .content-container img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

header span {
  padding: .66rem 0;
}

#img-header section {
  padding: 2rem 3rem;
  width: 20rem;
  margin-left: 0;
}

#img-header section p {
  margin-bottom: 0.25rem;
}

h1 {
  font-size: 2rem;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: flex-start;
}

.uppercase {
  text-transform: uppercase;
}

.bg-black {
  background-color: black;
}

.content-container {
  width: 960px;
  margin: 0 auto;
}

.white {
  color: white;
}

.bold {
  font-weight: bold;
}

#img-header {
  height: 25rem;
  background-image: url("../img/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
